# Formatting test strings

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/anushasubramanian/Desktop/Menu_items.csv")
df.head()

,Title,Description,Manual,Price
0,LASUNI GOBI,Florets Of Cauliflower Marinated In Lemon And ...,Vegetarian,18
1,VEGETABLE SAMOSA,Crispy Turnovers Stuffed With Seasoned Potatoe...,Vegetarian,18
2,ALOO TIKKIYA,Grilled Spicy Potato Cakes Topped With Pomegra...,Vegetarian,18
3,AMRITSARI SEEKH,"Marinated Paneer, Grilled Peppers, Tomato Sauce",Vegetarian,22
4,HARA BHARA KABAB,"Grilled Spinach Patties Stuffed With Paneer, G...",Vegetarian,18

In [4]:
df["test_str"] = df["Title"] + " : " + df["Description"]
df.head()

,Title,Description,Manual,Price,test_str
0,LASUNI GOBI,Florets Of Cauliflower Marinated In Lemon And ...,Vegetarian,18,LASUNI GOBI : Florets Of Cauliflower Marinated...
1,VEGETABLE SAMOSA,Crispy Turnovers Stuffed With Seasoned Potatoe...,Vegetarian,18,VEGETABLE SAMOSA : Crispy Turnovers Stuffed Wi...
2,ALOO TIKKIYA,Grilled Spicy Potato Cakes Topped With Pomegra...,Vegetarian,18,ALOO TIKKIYA : Grilled Spicy Potato Cakes Topp...
3,AMRITSARI SEEKH,"Marinated Paneer, Grilled Peppers, Tomato Sauce",Vegetarian,22,"AMRITSARI SEEKH : Marinated Paneer, Grilled Pe..."
4,HARA BHARA KABAB,"Grilled Spinach Patties Stuffed With Paneer, G...",Vegetarian,18,HARA BHARA KABAB : Grilled Spinach Patties Stu...

In [5]:
df.to_csv("Menu_items2.csv")